img {
float:left;
width: 30%;
height: 30%;
margin: 1.66%;

}

body{

	padding: 10px;
}

p {
	margin-left: 1.66%;
	font-family: 'Raleway' , sans-serif;
	font-size: 50px;
	font-weight: 800;
	text-transform: uppercase;
	border-bottom: 6px  solid red;
	width: 30%;
	padding-bottom: 20px;


}